<!DOCTYPE html>
<html>
<head>
  <title>AntounSawires</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

</head>
<body>
 	<div id="sidebar">
 		<div id="logo">
 			<%= link_to root_path do %>
 			<%= image_tag "Square.png" %>
 		<% end %>
			</div>
		<ul>
			<li><a href="https://www.youtube.com/channel/UC4idXvzcHD9t_wddzAEOKxQ"><img src="/assets/Youtube.png" alt="Youtube" style="width:50px;height:50px;border:0;"></a></li>
			<li><a href="https://twitter.com/AntounS17"><img src="/assets/twitter.png" alt="Twitter" style="width:55px;height:55px;border:0;"></a></li>
			<li><a href="https://www.facebook.com/antounsawires1"><img src="/assets/facebook.png" alt="Facebook" style="width:50px;height:50px;border:0;"></a></li>
		</ul>

			<p class="sign_in">Admin Login</p>
 	</div>


		<div id="header">	
			<p>All Posts</p>
			<div class="buttons">
			<button class="button"><%= link_to "New Post", new_post_path %> </button> 
			<button class="button">Log Out</button>
		</div>
	</div>
		 <div id="main_content">
			
			<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
			<% end %>

			<% yield %>

		</div>
		 	

			
		










		


</body>
</html>
