<!DOCTYPE html>
<html>
<head>
  <title>AntounSawires</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 	<div id="sidebar">
 		<div id="logo">
 			<%= link_to root_path do %>
 			<%= image_tag "Square.png" %>
 		<% end %>



 		<ul>
 			<li class="catagory">Social</li>
 			<li><a href="https://www.youtube.com/channel/UC4idXvzcHD9t_wddzAEOKxQ">Youtube</a></li>
 			<li><a href="https://twitter.com/AntounS17">Twitter</a></li>
 			<li><a href="https://www.facebook.com/antounsawires1/?ref=hl">Facebook</a></li>
 		</ul>	


 		</div>


 		<ul>
 			<li class="catagory">I am Antoun Sawires</li>
 			<li><%= link_to "Home", root_path %> </li>
 			<li>About Me</li>
 		</ul>

	
 	</div

<%= yield %>

</body>
</html>
